<h3>Welcome to Short.com</h3>
<p>Please enter the url here</p>
<%= text_field_tag(:shorthen_url,nil,{ class:"form-control", id: "short-url",placeholder: "Enter the url "})%>
<%= submit_tag 'shorthen', :onclick => "shortUrl()" %>


<p class="label-show"></p>
<h3 class="short-url-show"></h3>
